<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>admin</username>
      <password>Shiv@0311</password>
      <id>central</id>
    </server>
    <server>
      <username>admin</username>
      <password>Shiv@0311</password>
      <id>snapshots</id>
    </server>
  </servers>
   <mirrors>
        <mirror>
            <id>maven-default-http-blocker</id>
            <mirrorOf>external:dont-match-anything-mate:*</mirrorOf>
            <name>Pseudo repository to mirror external repositories initially using HTTP.</name>
            <url>http://0.0.0.0/</url>
            <blocked>false</blocked>
        </mirror>
  </mirrors>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>mvn-libs-release</name>
          <url>http://support-team-sivaprakash-artifactory.jfrog.farm:8081/artifactory/mvn-libs-release</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>mvn-libs-snapshot</name>
          <url>http://support-team-sivaprakash-artifactory.jfrog.farm:8081/artifactory/mvn-libs-snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>mvn-libs-release</name>
          <url>http://support-team-sivaprakash-artifactory.jfrog.farm:8081/artifactory/mvn-libs-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>mvn-libs-snapshot</name>
          <url>http://support-team-sivaprakash-artifactory.jfrog.farm:8081/artifactory/mvn-libs-snapshot</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>

